<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Captive Portal Template Index</title>
</head>
<body>
  <h1>Captive Portal Templates</h1>
<h2>autumn / first_class</h2>
<ul>
  <li><a href="autumn/first_class/landing.html">landing.html</a></li>
  <li><a href="autumn/first_class/logout.html">logout.html</a></li>
  <li><a href="autumn/first_class/registered.html">registered.html</a></li>
</ul><br>
<h2>autumn / second_class</h2>
<ul>
  <li><a href="autumn/second_class/landing.html">landing.html</a></li>
  <li><a href="autumn/second_class/logout.html">logout.html</a></li>
  <li><a href="autumn/second_class/registered.html">registered.html</a></li>
</ul><br>
<h2>default / first_class</h2>
<ul>
  <li><a href="default/first_class/landing.html">landing.html</a></li>
  <li><a href="default/first_class/logout.html">logout.html</a></li>
  <li><a href="default/first_class/registered.html">registered.html</a></li>
</ul><br>
<h2>default / second_class</h2>
<ul>
  <li><a href="default/second_class/landing.html">landing.html</a></li>
  <li><a href="default/second_class/logout.html">logout.html</a></li>
  <li><a href="default/second_class/registered.html">registered.html</a></li>
</ul><br>
</body>
</html>
